[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
emoji = "*"
dj-database-url = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
tensorflow = "*"
joblib = "*"
mecab-python-windows = "*"

[dev-packages]

[requires]
python_version = "3.6"
