{% load static %}
<!Doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/botui/build/botui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/botui/build/botui-theme-default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://unpkg.com/botui/build/botui.min.js"></script>
</head>
<body>
<!--BotUIを使って画面側は実装、デプロイはHerokuへ-->
{% if mode == "learning" %}
    <div class = "friend_name">aaa</div>
    <div class="botui-app-container" id="chat-app">
        <bot-ui></bot-ui>
    </div>
{% elif mode == "debug" %}
    

{% else %}
    <div class = "friend_name">aaa</div>
    <div class="botui-app-container" id="chat-app">
        <bot-ui></bot-ui>
    </div>
    <script>
    //FIXME:promiseでちゃんと制御したいけど、時間がないのでとりあえずdelayで遅らせることで処理する。超ださいので、絶対直す。
    //FIXME:javascript直書きやめて、ajaxで必要なurlのみこのファイルで変数にいれて、外部ファイルで読み込めるようにしておく。
    (function () {
        //------------------//
        //LearningModeの処理//
        //------------------//

        //FIXME:ここらへんの処理はPythonでできるなら値だけJSONとかで渡したい
        //FIXME:できるだけ2次元配列処理ではなく、MapとかにしてO(1)で速さあげたい。
        //とはいえ、一行ずつループ処理するならそんなかわらないかも？

        //CSVファイルを二次元配列([data,label]の配列)に変換
        function convertCSVtoArray(str) {
            let result = []
            let row = str.split("\n");

            for (let i = 0; i < row.length; i++) {
                result[i] = tmp[i].split(';')
            }
        }

        //CSVファイルをMap([data,label]の配列)に変換
        function convertCSVtoMap(str) {
            let result = []
            let row = str.split("\n");

            for (let i = 0; i < row.length; i++) {
                result[i] = tmp[i].split(';')
            }

            let answer_data = result.map((result_set, i) => ({
                value:result[0],
                answer:result[1]
            }))
        }

        //Twitterのデータファイル読み込み
        /*data_file = "data.csv"
        let req = new XMLHttpRequest();
        req.open("get", data_file);
        req.send(null)

        req.onload = function () {
            let dataset = convertCSVtoArray(req.responseText);
        }*/

        //Answerのデータファイル読み込み
        /*answer_file = "answer.csv"
        let req = new XMLHttpRequest();
        req.open("get", answer_file);
        req.send(null)

        req.onload = function () {
            let answerData = convertCSVtoMap(req.responseText);
        }*/

        //BotUIを作成
        let botui = new BotUI('chat-app')
        var data = [] //ラベル配列用初期化
        const x = 3;

        let a = 3 + 2;
        let b = 3 + 5;
        botui.message.add({
            content: 'こんにちは!'
        }).then(init);

        function init() {
            return botui.action.text({
                delay: 1000,
                action: {
                    placeholder: 'Enter your text here'
                }
            }).then(function (res) {
                sentence = res.value;
                //predict_content = predictAnswer(sentence)
                predictAnswer(sentence, function(predict_content) {
                    console.log(predict_content);
                    afterPredict(predict_content);
                })
            })
        }

        function afterPredict(predict_content) {
            botui.message.add({
                delay: 500,
                content: predict_content,
            }).then(function () {
                botui.message.add({
                    delay: 1000,
                    content: 'まだ続けますか？'
                });
            }).then(function () {
                return botui.action.button({
                    delay: 1000,
                    action: [{
                        icon: 'circle-thin',
                        text: 'はい',
                        value: true
                    }, {
                        icon: 'close',
                        text: 'いいえ',
                        value: false
                    }]
                });
            }).then(function (res) {
                if (res.value == false) {
                    for (let k = 0; k < data.length; k++) {
                        line_num = data[k][0];
                        data_file[line_num][1] = data[k][1];
                    }
                }else{
                    init();
                }
            });
        }

        function predictAnswer(sentence, f) {
            $.ajax({
                'url': '{% url "predict" %}',
                'data': {
                    'sentence': sentence,
                },
                'dataType': 'text',
            }).done(function (predict_data) {
                f(predict_data);
            })
        }

        //プログラムを終了する処理
        function end() {
            botui.message.add({
                content: 'またね！'
            })
        }
    })();
    </script>

{% endif %}
</body>
</html>