{% load staticfiles %}
<!Doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/botui/build/botui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/botui/build/botui-theme-default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://unpkg.com/botui/build/botui.min.js"></script>
</head>
<body>
    <div class = "friend_name">aaa</div>
    <div class="botui-app-container" id="chat-app">
        <bot-ui></bot-ui>
    </div>
    <script>
        training_url = '{% url "training" %}'
        reply_url = '{% url "reply" %}'
    </script>
    <script>"{% static 'app/scripts/chat_learning.js' %}"</script>

{% endif %}
</body>
</html>